.characterListElement {
    font-size: 40px;
}

.audioText {
    color: transparent;
    text-shadow: 0 0 8px #000;

}

.audioText::selection {
    color: transparent;
    text-shadow: 0 0 8px #000;
}
