
/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=LXGW+WenKai+Mono+TC&display=swap');

/* Update the font-family to include the new Google Font */
.characterListElement {
    font-size: 100px;
    font-family: 'LXGW WenKai Mono TC', 'KaiTi', 'STKaiti', serif;
}

.audioText {
    color: transparent;
    text-shadow: 0 0 8px #000;

}

.audioText::selection {
    color: transparent;
    text-shadow: 0 0 8px #000;
}
